.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above other content */
  }
  
  .search-bar {
    background-color: #DBEAFD;
    width: 100%;
    max-width: 746px; /* Adjust as needed */
    height: 50px;
  }
  
  .keel-works-logo {
    height: auto; /* Adjust to maintain aspect ratio */
    width: auto;  /* Adjust to fit within container */
    max-height: 61px; /* Example to limit height */
  }
  
  .custom-blue {
    background-color: #0070FF;
  }
  
  .custom-hover:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
  
  .question-mark {
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
    background-color: black; /* Customize color */
    color: white;
    border: none;
    border-radius: 50%; /* Makes the button round */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
  }
  